<div class="wrapper">
  <div class="section-registro">
    <div class="body-registro">
      <div class="row mt-3 mb-3">
        <div class="form-group col-12">
          <label class="title-user" for="tipo_usuario">Ingresa los datos de la materia</label>
        </div>
      </div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>NRC</mat-label>
        <input matInput [(ngModel)]="materia.nrc" mask="000000" name="nrc" placeholder="Escribe el NRC (5-6 dígitos)" (keypress)="soloNumeros($event)" [disabled]="editar">
      </mat-form-field>
      <div *ngIf="errors.nrc" class="invalid-feedback">{{ errors.nrc }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Nombre de la materia</mat-label>
        <input matInput [(ngModel)]="materia.name" placeholder="Escribe el nombre de la materia" (keypress)="soloLetras($event)">
      </mat-form-field>
      <div *ngIf="errors.name" class="invalid-feedback">{{ errors.name }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Sección</mat-label>
        <input matInput [(ngModel)]="materia.seccion" mask="000" name="seccion" placeholder="Escribe la sección (ej: 001)" (keypress)="soloNumeros($event)">
      </mat-form-field>
      <div *ngIf="errors.seccion" class="invalid-feedback">{{ errors.seccion }}</div>

      <div class="select-dias">
        <div class="row mt-3 mb-3">
          <div class="form-group col-12">
            <label class="title-materias" for="tipo_usuario">Selecciona los días de la semana</label>
          </div>
        </div>
        <div class="checkbox-group" *ngFor="let dia of diasSemana; let i = index">
          <mat-checkbox class="checkbox-item opc-sc" name="opsc" (change)="checkboxChangeDias($event)" value="{{dia.nombre}}" [checked]="revisarSeleccionDia(dia.nombre)">
              <div class="d-checkbox-nombre">{{dia.nombre}}</div>
          </mat-checkbox>
        </div>
        <div *ngIf="errors.dias_json" class="invalid-feedback">{{ errors.dias_json }}</div>
      </div>



      <div class="row">
  <div class="col-md-6">
    <mat-form-field class="mat-input" appearance="outline">
      <mat-label>Hora de inicio</mat-label>
      <input matInput
             [ngxTimepicker]="pickerHoraInicio"
             [(ngModel)]="materia.hora_i"
             name="hora_i"
             placeholder="Selecciona hora de inicio"
             readonly>
      <ngx-material-timepicker-toggle matSuffix [for]="pickerHoraInicio"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #pickerHoraInicio></ngx-material-timepicker>
    </mat-form-field>
    <div *ngIf="errors.hora_i" class="invalid-feedback">{{ errors.hora_i }}</div>
  </div>
  <div class="col-md-6">
    <mat-form-field class="mat-input" appearance="outline">
      <mat-label>Hora de finalización</mat-label>
      <input matInput
             [ngxTimepicker]="pickerHoraFin"
             [(ngModel)]="materia.hora_f"
             name="hora_f"
             placeholder="Selecciona hora de fin"
             readonly>
      <ngx-material-timepicker-toggle matSuffix [for]="pickerHoraFin"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #pickerHoraFin></ngx-material-timepicker>
    </mat-form-field>
    <div *ngIf="errors.hora_f" class="invalid-feedback">{{ errors.hora_f }}</div>
  </div>
</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Salón</mat-label>
        <input matInput [(ngModel)]="materia.salon" placeholder="Escribe el salón (ej: Aula 101)" (keypress)="alfanumericoConEspacios($event)" maxlength="15">
      </mat-form-field>
      <div *ngIf="errors.salon" class="invalid-feedback">{{ errors.salon }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Programa educativo</mat-label>
        <mat-select [(ngModel)]="materia.programa">
          <mat-option *ngFor="let programa of programasEducativos" [value]="programa.value">
            {{programa.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.programa" class="invalid-feedback">{{ errors.programa }}</div>

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Profesor asignado</mat-label>
        <mat-select [(ngModel)]="materia.profesor_id">
          <mat-option *ngFor="let maestro of listaMaestros" [value]="maestro.id">
            {{maestro.user?.first_name}} {{maestro.user?.last_name}} ({{maestro.clave_maestro}})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.profesor_id" class="invalid-feedback">{{ errors.profesor_id }}</div>

      <mat-form-field class="mat-input mat-hint-margin" appearance="outline">
        <mat-label>Créditos</mat-label>
        <input matInput [(ngModel)]="materia.creditos" mask="00" placeholder="Escribe los créditos (ej: 05)" (keypress)="soloNumeros($event)">
      </mat-form-field>
      <div *ngIf="errors.creditos" class="invalid-feedback">{{ errors.creditos }}</div>

      <div class="section-buttons">
        <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
        <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
        <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
